#veri-box{
    background-color: #fff;
    padding: 30px 60px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    /*row-gap: 20px;*/
}

#veri-box header{
    height: 65px;
    width: 65px;
    background-color: #2473DD;
    color: #FFF;
    border-radius: 50%;
}

#veri-box header i{
    font-size: 2.5rem;

}

#veri-box h3{
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    margin: inherit;
}

form .input_field{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.input_field input{
    height: 45px;
    width: 42px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1.125rem;
    background: #D9E4FF;
}

.full-screen-image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    max-width: 1480px;
    max-height: 840px;
}

.input_field input::-webkit-inner-spin-button,
.input_field input::-webkit-outer-spin-button{
    display: none;
}