body {
    display: grid;
    place-items: center;
    font-family: 'Manrope', sans-serif;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 20px;
    width: 450px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1)
}


.feedback-form {
    max-width: 400px;
    margin: 0 auto;
}

.rating {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row-reverse; /* this is the magic */
    justify-content: flex-end;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 24px;
    cursor: pointer;
}

.rating label:hover,
.rating label:hover ~ label { /* reason why the stars are in reverse order in the html */
    color: orange;
}

.rating input:checked ~ label {
    color: orange;
}

.comment {
    margin-bottom: 20px;
}

.comment textarea {
    width: 100%;
    height: 100px;
    resize: none;
}

.submit-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
