body {
    display: grid;
    place-items: center;
    font-family: 'Manrope', sans-serif;
}

.card-comment {
    background-color: #FFFFFF;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
}
.rating {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.rating input[type="radio"] {
    display: none;
}
.rating label {
    font-size: 2rem;
    color: lightgray;
    cursor: pointer;
    margin: 0 0.1rem;
}
.rating label:hover,
.rating label:hover ~ label,
.rating input[type="radio"]:checked ~ label {
    color: gold;
}
.comment textarea {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #ced4da;
    margin-bottom: 1rem;
}
.submit-btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.submit-btn:hover {
    background-color: #0056b3;
}