<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/password.css}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body class="box">
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/first-page">HOTEL BOOKING</a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/home">HOME</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        SERVICES
                    </a>
                    <div class="dropdown-menu bg-primary text-center" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="">Restaurant</a>
                        <a class="dropdown-item" href="">Taxi</a>
                        <!--              <a class="dropdown-item" href=""></a>-->
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="">NEWS</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="">CONTACT</a>
                </li>

            </ul>

        </div>
    </div>


</nav>
<!--    <div class="container mb-5 " data-aos="zoom-in" style="">-->
    <div class="container mb-5 " style="">
        <div class="row form mx-auto  shadow mt-5" style="filter: drop-shadow(0px 0px 4px black);border-radius: 10px;">

            <div class="col-md-5 col-sm-11 box_2" style="border: none; border-right: 1px solid #d3d3d3; position: relative;">
                <div class="d-flex justify-content-center align-items-center">
                    <img class="img-fluid p-3" src="/images/sign_new.jpg" style="width: 100%; height: 500px;">
                </div>
                <div class="text-center d-flex justify-content-center align-items-center">
                    <a class="account" href="/login">Sign In</a>
                </div>
            </div>



            <div class="col-md-7 col-sm-11  ">
                <dialog id="dialog">
                    <h2 id="dialogTitle"></h2>
                    <p id="dialogContent"></p>
                </dialog>
                <form class="p-5"  id="verification_email_form" method="POST" th:action="@{/forget-password}">
                    <input type="hidden" name="formId" value="form1">
                    <div class="form-group">
                       <h2 class="mb-3 pb-3" style="font-weight: bold;" >Forgot Password</h2>

                      <label class="text-secondary " for="exampleInputEmail1" style="margin-left: 70px; margin-top: 50px"><i class="fa fa-envelope"></i> Email</label>
                      <input  type="email" style="margin-left: 70px;" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" th:value="${session.email}" required>

                        <div class="loading-overlay">
                            <div class="spinner"></div>
                        </div>
                    <button type="submit" class="btn" style="margin-top: 60px" onclick="showLoading()">Submit</button>

                <div class="Social-icon  d-flex justify-content-between mt-3 " style="height: auto;width:50%; margin-left: 100px;">
                    <a href=""><img src="/images/facebook.png"></a>
                    <a href=""><img src="/images/twitter.png"></a>
                    <a href=""><img src="/images/linkedin-logo.png"></a>
                    <a href=""><img src="/images/instagram.png"></a>
                    
                </div></center>
                <input type="hidden" th:name="_csrf" th:value="${_csrf.token}" />
                    </div>
                </form>

                <!-- Enter Code -->
                <div id="veri-box" class="flex-column align-items-center justify-content-center" style="display: none; height: 100%">
                    <h2>Enter Verification Code</h2>
                    <p>We have just sent a verification code to <i style="color: #0e4bf1"><span id="email"></span></i> to reset password for <i style="color: #0e4bf1"><span id="username_sent"></span></i></p>
                    <form th:action="@{/forget-password}" method="POST" id="verification_code_form">
                        <input type="hidden" name="formId" value="form2">
                        <div class="input_field">
                            <input type="text" name="char1" required>
                            <input type="text" name="char2" disabled required/>
                            <input type="text" name="char3" disabled required/>
                            <input type="text" name="char4" disabled required/>
                        </div>
                        <input type="hidden" th:name="_csrf" th:value="${_csrf.token}" />

                        <button id="verify" type="submit" class="btn" value="Verify code" style="margin-top: 15%">Verify code</button>
                    </form>
                    <p style="margin-bottom: 0">If your verification code is expired,</p>
                    <p style="display: inline; margin: 0">please click <a href="/forget-password">here</a> to resend</p>
                </div>

                <div id="reset-pass" class="col-md-7 col-sm-11  "  style="display: none;" >
                    <form class="p-5" method="POST" autocomplete="off" th:action="@{/forget-password}" id="change_password_form">
                        <input type="hidden" name="formId" value="form3">
                        <div class="form-group"  style="margin-right: -200px;">
                            <h2 class="mb-5" style="font-weight: bold; margin-right: 10%">Reset Password</h2>

                            <label class="text-secondary" style="margin-left: 15%" for="password" >
                                <i class="fa fa-envelope"></i> Password
                            </label>
                            <input style="margin-left: 15%; width: 250px" type="password" name="password" oninput="checkPasswordMatch()" required id="password" aria-describedby="emailHelp" >

                            <label class="text-secondary" style="margin-left: 15%" for="re-password">
                                <i class="fa fa-lock"></i> Retype Password
                            </label>
                            <input style="margin-left: 15%; width: 250px" type="password" name="re-password" oninput="checkPasswordMatch()" id="re-password"  required>

                        </div>

                        <div class="msg" id="passwordMatchMessage" style="display: none; margin-left: 30%; width: 200%"></div>

                        <div class="d-flex justify-content-center" >
                            <button type="submit" id="confirm" class="btn" style="width: 200px; margin-right: -45%">Submit</button>
                        </div>

                        <div class="Social-icon d-flex justify-content-between mt-6" style="height: auto; width: 50%; margin-left: 50%">
                            <a href="#" class="mr-3"><img src="/images/facebook.png"></a>
                            <a href="#" class="mr-3"><img src="/images/twitter.png"></a>
                            <a href="#" class="mr-3"><img src="/images/linkedin-logo.png"></a>
                            <a href="#"><img src="/images/instagram.png"></a>
                        </div>
                        <input type="hidden" th:name="_csrf" th:value="${_csrf.token}" />
                    </form>
                </div>





            </div>
        </div>
    </div>
<script type="text/javascript" th:src="@{/js/all.js}" defer></script>
<script type="text/javascript" th:src="@{/js/forget_password.js}" defer></script>
</body>
</html>