<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Profile</title>

  <link rel="stylesheet" href="../static/css/bootstrap-profiles.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/first-page">HOTEL BOOKING</a>
      <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Services
            </a>
            <div class="dropdown-menu bg-primary text-center" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="">Restaurant</a>
              <a class="dropdown-item" href="">Taxi</a>
<!--              <a class="dropdown-item" href=""></a>-->
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="">NEWS</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#cont">Contact</a>
          </li>

          <div class="d-flex" th:if="${!#authorization.expression('isAuthenticated()')}">
            <a type="button" class="btn btn-primary px-4 btncmn"  href="/login">Sign In</a><br>

            <a type="button" class="btn signup btn-success px-4 btncmn " href="/register">Sign Up</a>
          </div>

          <li class="nav-item dropdown" style="color: lawngreen" th:if="${#authorization.expression('isAuthenticated()')}">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              <span style="color: lawngreen" th:text="${session.name}"></span>
            </a>
            <div class="dropdown-menu bg-primary text-center" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="">Information</a>
              <a class="dropdown-item" href="#" onclick="submitLogoutForm()">Sign Out</a>
                <form id="myForm" th:action="@{/logout}" method="post">
                  <input type="hidden">
                </form>

              <!--              <a class="dropdown-item" href=""></a>-->
            </div>
          </li>
        </ul>

      </div>
    </div>


  </nav>
  <section style="background-color: #a6c0cc; display: flex; flex-direction: column; height: 100vh;">
    <div class="container py-5">
    
        <div class="col-lg-4 mx-auto">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="avatar" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">Name</h5>
              <p class="text-muted mb-1">Info</p>
              <p class="text-muted mb-4">Info</p>
              <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-outline-primary ms-1">Message</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 mx-auto">
          <div class="card mb-4">
            <div class="card-body">
              <div class="text-end mb-3">
                <button type="button" class="btn btn-sm btn-outline-primary" id="editButton">Edit Information</button>
              </div>

              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0" id="fullName">name</p>
                  <input type="text" class="form-control d-none" id="fullNameInput">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0" id="email">example@example.com</p>
                  <input type="email" class="form-control d-none" id="emailInput">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0" id="phone">12345678</p>
                  <input type="tel" class="form-control d-none" id="phoneInput">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Nationality</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0" id="nationality">Vietnam</p>
                  <input type="tel" class="form-control d-none" id="nationalityInput">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0" id="address">address</p>
                  <input type="text" class="form-control d-none" id="addressInput">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-12 text-center">
                  <button type="button" class="btn btn-primary" id="saveButton" disabled>Save Changes</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      
      
    </div>
  </section>
  <script src="../static/js/user_profile.js"></script>
</body>
</html>
